* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: 'Rubik', sans-serif;
    #main__title {
        height: 50px;
    }
    h1 {
        text-align: center;
    }
    .inputs {
        display: flex;
        justify-content: center;
        gap: 10px;
            ::placeholder {
                text-align: center;
            }
        }
        #getWeatherBtn {
            width: 120px;
            
        }
    }

    #forecasts {
        text-align: center;
        h2 {
            margin: 10px auto;
            padding: 5px;
            background-color: whitesmoke;
            max-width: 200px;
            text-align: center;
            border-radius: 10px;
        }
       
    }

#photoContainer {
    display: flex;
    justify-content: center;
}

#photo1 {
    margin-top: 20px;
    max-width: 350px;
    max-height: 200px;
    border-radius: 10px;
    }
